.todo-container {
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.items {
  flex-direction: column;
  display: flex;
  align-self: center;
}
.todo-form {
  flex-direction: column;
  display: flex;
  justify-content: center;
  width: 100vh;
}
.todo-form > h1 {
  text-align: center;
}
.todo-input {
  padding: 10px;
}
